{% extends 'store/layouts/main.html' %}

{% block content %}
<div class="container"style="height:600px; width: 1500px;">
    <div class="row">
        <div class="col-md-16">
            <div class="Card shadow product_data" style="margin-top: 70px;">
               <div class="card-body">
                  <div class="row">
                    <div class="col-md-4">
                        {% if products.Tag %}
                             <label class="product-view-tag" style="font-size: 16px;font-weight:bold;margin-left: 350px;border-radius:2px;padding:2px; text-align: center;background-color: green; color: white;margin-top:10px;font-weight: 800;font-family: 'Times New Roman', Times, serif;width:70px;">{{ products.Tag }}</label>
                        {% endif %}  
                        <img src="{{ products.Product_image.url }}" class="w-100" alt="image">
                    </div>
                    <div class="col-md-8">
                        <h2 class="mb-0" style="font-family: 'Times New Roman', Times, serif;">
                            {{ products.name }}
                            {% if products.trending %}
                                <label class="float-end badge bg-primary trending_tag" style="font-size: 16px; margin-top: 10px;border-radius:2px;width:100px;">Trending</label>
                            {% endif %} 
                        </h2>      
                        <hr>
                        <label class="me-3 fw-bold" style="font-family: 'Times New Roman', Times, serif;font-size:20px;">Original Rs.<s style="color: red;">{{ products.Orignal_Price|stringformat:'d' }}</s></label>
                        <label class="fw-bold" style="font-family: 'Times New Roman', Times, serif; font-size: 20px;">Selling Rs.{{ products.Selling_Price|stringformat:'d' }}</label>    
                        <p class="mt-3" style="font-family: 'Times New Roman', Times, serif;font-size:20px;">
                        {{products.Small_description}}
                        </p>
                        <hr>
                        {% if products.quantity > 0 %}
                        <label class="badge bg-success">In Stock</label>
                        {% else %}
                        <label class="badge bg-danger">Out of Stock</label>  
                        {% endif %}
                        <div class="col-md-3">
                            <label for ="Quantity" style="font-family: 'Times New Roman', Times, serif;font-size: 25px;">Quantity</label>
                            <div class="input-group text-center mb-3" style="width: 130px;">
                                <button class="input-group-text-decrement-btn"style="border-radius:5px;background-color:lightgray;width:35px;font-size:25px;text-align:center;color:black;font-family:Serif;">-</button>
                                <input type="text" name="Quantity" class="form-control text-center"value="0">
                                <button class="input-group-text-Increment-btn"style="border-radius:5px;background-color:lightgray;width: 35px;font-size:25px;color:black;font-family:Serif;">+</button>
                            </div>
                            <div class="col-md-10">
                                <br/>
                                <button type="button" class="btn btn-primary me-3 float-start" style="font-size:15px;border:black;font-family:serif;font-weight:800;color:red;margin-top: 50px; margin-left: 0px;width: 150px;height: 40px;">Add to Cart<i class="fa-fa-shopping-cart"></i></button>

                                <button type="button" class="btn btn-warning me-3 float-start"style="font-size:15px;border:black;font-family:serif;font-weight:800;color:red;width: 150px;height: 40px;">Add to Wishlist<i class="fa-fa-heart"></i></button>    
                            </div>
                           </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <hr>
                <h3 style="margin-left: 10px;border-radius: 7px;color:black;width: 200px;text-align: center;">Description</h3>
                <p class="mt-0" style="margin-left: 50px;font-family: 'Times New Roman', Times, serif;font-size: 20px;">
                {{products.description}}
                </p>    
            </div>    
        </div>
    </div>        
</div>
</div>



{% endblock %}