{% load static %}
<div id="carouselExampleIndicators" class="carousel slide" style="margin-top: 2px; width: 1600px;height: 400px;">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="5" aria-label="Slide 6"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="6" aria-label="Slide 7"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="7" aria-label="Slide 8"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="8" aria-label="Slide 9"></button>
        
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="{% static 'Images/LG23.webp' %}" style="width: 1600px; height: 400px;" class="d-block w-100" alt="...">
            
        </div>
        <div class="carousel-item">
            <img src="{% static 'Images/fur.jpg' %}" style="width: 1600px; height: 400px;" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="{% static 'Images/hadloom.webp' %}" style="width: 1600px; height: 400px;" class="d-block w-100" alt="...">
        </div>
    
        <div class="carousel-item">
            <img src="{% static 'Images/bot.webp' %}" style="width: 1600px; height: 400px;" class="d-block w-100" alt="...">
        </div>
    
        <div class="carousel-item">
            <img src="{% static 'Images/american.jpg' %}" style="width: 1600px; height: 400px;" class="d-block w-100" alt="...">
        </div>
    
        <div class="carousel-item">
            <img src="{% static 'Images/ban.webp' %}" style="width: 1600px; height: 400px;" class="d-block w-100" alt="...">
        </div>
    
        <div class="carousel-item">
            <img src="{% static 'Images/kit333.png' %}" style="width: 1600px; height: 400px;" class="d-block w-100" alt="...">
        </div>
        
        <div class="carousel-item">
            <img src="{% static 'Images/Ho2.jpg' %}" style="width: 1600px; height: 400px;" class="d-block w-100" alt="...">
        </div>
   
   
   
   
   
   
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev" style="color: black !important; border: groove; border-radius: 50px; height: 50px; width: 50px; margin-top: 200px;background-color: black;">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next" style="color: black !important; border: groove; border-radius: 50px; height: 50px; width: 50px; margin-top: 200px;background-color: black;">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
        </div>
