{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link href="{% static 'css/Custom.css' %}" rel="stylesheet"> <!-- Fixed path to CSS file -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.min.css"/>
<!-- Default theme -->
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/default.min.css"/>
    <title>
        {% block title %}
            Your Default Title Here
        {% endblock title %}
    </title>
</head>
<body>
    {% include 'store/inc/navbar.html' %}

    {% block content %}
        <!-- Your content goes here -->
    {% endblock content %}
    
    <script src="{% static 'JS/jquery-3.7.1.min.js' %}"></script>
    <script src="{% static 'JS/Custom.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>
    
    <script>
        alertify.set('notifier','position', 'top-right');
        
        {% for msg in messages %}
            alertify.success('{{ msg }}');
        {% endfor %}
    
    </script>



   
   
   
   
   
    {% block scripts %}
        <!-- Your additional scripts go here -->
    {% endblock scripts %}
</body>
</html>
